.modal-content {
    border-radius: 12px;
  }
  
  .modal-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 0; 
  }
  
  .modal-body {
    text-align: center;
    padding: 10px 20px; 
  }
  
  .modal-body img {
    max-width: 100px; 
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .form-control {
    margin-bottom: 10px;
    border-radius: 6px;
  }
  
  .modal-footer {
    justify-content: center;
    border-top: none;
    padding: 10px 20px; 
  }
  
  .modal-footer button {
    margin: 0 5px; 
  }
  
  @media (max-width: 576px) {
    .modal-body img {
      width: 100%;
      max-width: none; 
      margin-bottom: 5px;
    }
  }
  